@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 225, 225, 230;
  --background-end-rgb: 225, 225, 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 25, 30, 50;
    --background-end-rgb: 25, 30, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
